extends layout

block content
  div 
    h1 For You Champ
    div(id="container")
      img(class = "meme", id = "throw", src="/images/theFunny.png", alt="Eminem Throwing Ice Cream At You")
    p This was provided to by EnrisDaKitty himself
    button(id='button')